.btn-blue {
    background-color: #448aff;
    color: white!important;
    border-color: #448aff;
    font-weight: 600;
}
.btn-blue:hover,
.btn-blue:active,
button.btn-blue:visited {
    background-color: #2962ff !important;
    border-color: #2962ff !important;
}