<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="/assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="screen" />

        {#<link href="/izzy/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />#}
        {#<link href="/izzy/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />#}
        {#<link href="/izzy/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />#}
        {#<link href="/izzy/pages/css/pages-icons.css" rel="stylesheet" type="text/css">#}
        {#<link class="main-stylesheet" href="/izzy/pages/css/pages.css" rel="stylesheet" type="text/css" />#}
        <link class="main-stylesheet" href="assets/css/modification.css" rel="stylesheet" type="text/css" />
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="/assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
        <script src="/assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>

        <script>
            const main_url_redis = "{{ url('report_generator_core') }}";
            function buildUrl(url, params = {}) {
                return url +"?"+ $.param(params);
            }
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
